# ===== Dependências =====
node_modules/
package-lock.json.bak

# ===== Angular / build front-end =====
dist/
tmp/
.angular/
*.log

# ===== .NET / build back-end =====
bin/
obj/
*.user
*.suo

# ===== Ambiente / segredos =====
.env
.env.*
!.env.example
appsettings.*.local.json

# ===== Uploads de usuários =====
/uploads/

# ===== IDE / Editor =====
.vs/
.vscode/
.idea/
*.swp

# ===== Sistema Operacional =====
Thumbs.db
.DS_Store
